html, body{width: 100%;height: 100%;padding: 10px; background-color: #d2d6de}
/*#wrapper{width: 100%;height: 100%; margin:auto}*/

#loginForm{  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -65%); text-align: center;vertical-align: middle;}
#txtUserName{background-color: transparent; border:solid 1px black; }
#txtPassword{background-color: transparent; border:solid 1px black; margin-bottom: -15px}
.form-control:focus {z-index: 2;}
#registerForm { position: absolute;top: 50%;left: 50%;transform: translate(-50%, -65%); text-align: center;vertical-align: middle;}
#txtUserName-register{background-color: transparent; border:solid 1px black; margin-bottom: 0px}
#txtPassword-register{background-color: transparent; border:solid 1px black; margin-bottom: 0px}
#txtEmail-register{background-color: transparent; border:solid 1px black; margin-bottom: 0px}
#txtFisrtName-register{background-color: transparent; border:solid 1px black; margin-bottom: 0px}
#txtLastName-register{background-color: transparent; border:solid 1px black; margin-bottom: 0px}

#fix-register-card{border-radius: 10px; background-color:#fff;padding: 20px; position: fixed;z-index: 1;top: 50%;left: 50%;transform: translate(-50%, -65%); text-align: center;vertical-align: middle;}
#old-password-fix{ border:solid 1px black; margin-bottom: 7px}
#new-password-fix{ border:solid 1px black; margin-bottom: 7px}
#first-name-fix{ border:solid 1px black; margin-bottom: 7px}
#last-name-fix{ border:solid 1px black; margin-bottom: 7px}
#email-fix{ border:solid 1px black; margin-bottom: 7px}
#nameuser{ border:solid 1px black; margin-bottom: 7px}

/*#left, #right:{min-height: 300px}*/
#left{ width: 30%; float:left; background-color: #d2d6de; padding-top: 48px}
#right{ width: 70%; float:right; background-color: #d2d6de;padding-left: 10px}

.time{font-size: 10px; color: red; font-style: italic; text-align: center;}
.roomtitle{margin-top: 10px}
#boxTitle{   border-radius: 10px 10px 0px 0px;padding: 5px;text-align: center; font-weight: bold; background-color:#eee;}
#boxContent{max-height:210px;overflow-y:scroll;  border-radius: 0px 0px 10px 10px;padding: 5px;text-align: center;margin-bottom: 0px; background-color:#eee;}
#roomchat{width: 100%; background-color:#eee;padding: 5px; }
#txtRoom{width: 100%; display: inline-block;margin-bottom: 5px}
.room{display:inline-block;margin:5px;}
#btntaoRoom{}
#dsRoom{max-height:225px;overflow-y:scroll;  background-color:#eee; border-radius: 0px 0px 10px 10px;}

#sayHi{text-align: right;margin-bottom: 10px; padding-top: 5px;}
#sayHiRoom{text-align: right;margin-bottom: 10px}
#currentUser{font-weight: bold;}
#currentRoom{font-weight: bold;}

#listMessages{ border-radius: 10px; 
display: -webkit-box;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-direction: column-reverse;
-moz-flex-direction: column-reverse;
-ms-flex-direction: column-reverse;
flex-direction: column-reverse;
overflow: hidden;
overflow-y: scroll;
height: 315px;  padding: 10px;  background-color: #eee; margin-bottom: 15px;}
#theImg{max-width: 300px;max-height: 300px}
/*#thongbao{margin-left: 15px}*/
#messages{width: 100%;}
#txtMessages{width: 70%; background-color: #eee;display: inline-block;}
#btnSendMessages{width: 28%;}

#listMessagesRoom{ border-radius: 10px; 
display: -webkit-box;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-direction: column-reverse;
-moz-flex-direction: column-reverse;
-ms-flex-direction: column-reverse;
flex-direction: column-reverse;
overflow: hidden;
overflow-y: scroll;
height: 315px;  padding: 10px;  background-color: #eee; margin-bottom: 15px;}

#thongbao{margin-left: 15px; min-height: 18px}
#thongbaoRoom{margin-left: 15px; min-height: 18px}

#messagesRoom{width: 100%}
#txtMessagesRoom{width: 70%; background-color: #eee;display: inline-block;}
#btnSendMessagesRoom{width: 28%;}


